@use "variables" as *;
@use "mixins";

.button {
  text-wrap: nowrap;
  position: relative;
  padding: 0 1.8em;
  line-height: 1.4em;
  justify-content: center;
  @include mixins.actionNameStyles;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  border-radius: 104px;
  width: 97%;
  height: 90%;
  border: 1px solid $wine-color;
}

.button::before {
  right: 0;
  top: 0;
}

.button::after {
  bottom: 0;
  left: 0;
}
