@use "variables" as *;

.footer {
  align-self: center;
  margin-bottom: 2%;

  &__subtitle {
    font-size: $nav-link-size;
    line-height: $nav-link-line-height;
  }

  &__links {
    display: flex;
    justify-content: space-around;
  }
}
