@use "variables" as *;

html {
  // font-size: 62.5%;
}

body {
  background-color: $black-color;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "JGS Font";
  src: url("/jgs_Font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
