@use "variables" as *;

html {
  font-size: 62.5%; // 10px

  @media (min-width: $breakpoint-md) {
    font-size: 75%; // 12px
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 100%;
  }
}

body {
  background-color: $black-color;
  padding: 0;
  margin: 0;
  min-width: 325px;

  @media (min-width: $breakpoint-md) {
    background-color: blue;
  }

  @media (min-width: $breakpoint-lg) {
    background-color: $black-color;
  }
}

@font-face {
  font-family: "JGS Font";
  src: url("/jgs_Font.ttf") format("truetype");
}
