$primary-color: #4caf50;
$secondary-color: #ff5722;
$font-family: "JGS Font", sans-serif;
$primary-text-color: rgba(236, 186, 185, 1);

@font-face {
  font-family: "JGS Font";
  src: url("/jgs_Font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
