@use "variables" as *;

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  margin: 4rem 0 9rem 0;

  &__title {
    padding: 0;
    margin: 0;
    position: absolute;
    mix-blend-mode: difference;
    font-size: 8rem;
    bottom: -4rem;
    font-weight: 400;
  }
}
