@use "variables" as *;

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  margin: 0;

  @media (min-width: $breakpoint-lg) {
    margin-top: 4rem;
  }

  &__title {
    padding: 0;
    margin: 0;
    position: absolute;
    mix-blend-mode: difference;
    font-size: $hero-title-font-size;
    font-weight: normal;
    bottom: -$hero-title-font-size/2;
  }
}
