@import "./global.scss";

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  margin: 4rem 0 9rem 0;

  &__title {
    padding: 0;
    margin: 0;
    position: absolute;
    mix-blend-mode: difference;
    font-size: 3rem;
    bottom: -1.5rem;
    font-weight: 400;

    @media (min-width: $breakpoint-md) {
      font-size: 5rem;
      bottom: -2.5rem;
    }

    @media (min-width: $breakpoint-lg) {
      font-size: 8rem;
      bottom: -4rem;
    }
  }
}
