@import "./global";

.announcements {
  display: flex;
  justify-content: space-between;
  font-size: 1.25em;
  text-align: left;
  @media (max-width: $breakpoint-md) {
    flex-wrap: wrap;
  }

  &_item {
    display: flex;
    flex-flow: column nowrap;
    margin: 4em;
  }
}
