@use "variables" as *;
@use "mixins";

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;

  &__wrap {
    padding: 1em 2em;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  &__logo {
    flex: 0 1 20%;
    text-align: left;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: right;
    flex: 0 1 40%;
    justify-content: space-between;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
    }
  }

  &__menu_item {
    cursor: pointer;
    @include mixins.actionNameStyles;
  }
}
