@import "./global";

.photo {
  width: 100%;

  .photo__img {
    max-width: 100%;
    height: auto;
  }

  &.photo--invert .photo__img:hover {
    filter: invert(1);
  }

  &.photo--highghlight .photo__img:hover {
    //TODO correct style
    filter: invert(1);
  }
}


