@import "./global";

.rnd_btn {
  display: inline-flex;
  padding: 1vw;
  aspect-ratio: 77/74;
  margin: 0;
  position: relative;
  cursor: pointer;

  &__content {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: clamp(12px, 1.2vw, 20px);
    color: white;
    text-transform: lowercase;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 90%;
    aspect-ratio: 1/1;
    border: 1px solid $wine-color;
    border-radius: 50%;
  }

  &::before {
    left: 0;
    bottom: 0;
  }

  &::after {
    top: 0;
    right: 0;
  }
}
