$primary-color: #4caf50;
$secondary-color: #ff5722;
$wine-color: #aa0f25;
$white-color: white;
$black-color: black;
$font-family: "JGS Font", sans-serif;
$primary-text-color: rgba(236, 186, 185, 1);
$nav-link-size: 1.25rem;
$nav-link-line-height: 20px;

$breakpoint-md: 768px;
$breakpoint-lg: 992px;

$hero-title-font-size: 8rem;
